{{template "base" .}}

{{define "content"}}
{{$res := index .Data "reservation"}}
<div class="container">
  <div class="row">
    <div class="coll">
      <h1>Reservation Summary</h1>
      <hr />
      <!-- Content crate for a table -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Arrival:</th>
            <th scope="col">Departure</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ $res.FirstName }}</td>
            <td>{{ $res.LastName }}</td>
            <td></td>
            <td></td>
            <td>{{ $res.Email }}</td>
            <td>{{ $res.Phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{{ end }}
